/* 1em = 10px */

.alert-placeholder {
    display: none;
}

.alert {
    @include clearfix;
    border-left: 3px solid;
    margin-bottom: $margin;
    padding: 1em;

    &:before, 
    &:after {
        content: "\0020";
        display: inline-block;
        height: 0;
        overflow: hidden;
        margin: 10px;
    }
    p:last-child {
        margin-bottom: 0;
    }
    .btn {
        margin: 0;
    }
    .fa {
        line-height: 1 !important;
    }
}

.alert-danger {
    @extend .alert;
    background: lighten($danger-color, 35);
    border-color: $danger-color;
    color: darken($danger-color, 15);
    i {
        color: darken($danger-color, 10);
        &:hover {
            color: lighten($danger-color, 10);
        }
    }
}

.alert-success {
    @extend .alert;
    display: block;
    background: lighten($success-color, 45);
    border-color: $success-color;
    color: darken($success-color, 10);
    i {
        color: darken($success-color, 10);
        &:hover {
            color: lighten($success-color, 10);
        }
    }
}

.alert-warning {
    @extend .alert;
    background: lighten($warning-color, 40);
    border-color: $warning-color;
    color: darken($warning-color, 10);
    i {
        color: darken($warning-color, 10);
        &:hover {
            color: lighten($warning-color, 10);
        }
    }
}

.alert-info {
    @extend .alert;
    background: lighten($info-color, 48);
    border-color: $info-color;
    color: darken($info-color, 10);
    i {
        color: darken($info-color, 10);
        &:hover {
            color: lighten($info-color, 10);
        }
    }
}

.alert-empty {
    @extend .alert;
    background: #f4f4f4;
    border: 1px dashed $silver;
    text-align: center;
    i {
        color: $medium-grey;
        &:hover {
            color: lighten($info-color, 10);
        }
    }
}
