.card {
    @include clearfix;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid $silver;
    margin-bottom: $margin;
    min-height: 100px;

    .btn-red {
        margin: 10px 0 0 0;
        // height: 45px;

        @include atMedium {
            margin: 0 0 0 10px;
        }
    }

    .btn-blue {
        margin: 10px 0 0 0;
        // height: 45px;

        @include atMedium {
            margin: 0 0 0 10px;
        }
    }

    .btn-green {
        margin: 10px 0 0 0;
        // height: 45px;

        @include atMedium {
            margin: 0 0 0 10px;
        }
    }
    
    &-header {
        background: $grey;
        height: 55px;
        position: relative;
        margin: 0;
        border-bottom: 5px solid $primary-color;

        @include responsive($small-break) {
            margin: 0;
            height: 50px;
        }
        @include responsive($tiny-break) {
            border-top: 0px solid $white;
            margin: 0;
            height: 50px;
        }

        i {
            display: inline-block;
            padding: 8px 15px;
            color: $white;
            font-size: 2em;
            text-align: center;
            background: $primary-color;

            @include atMedium {
                padding: 9px 15px;
            }
        }

        label {
            display: inline-block;
            position: relative;
            bottom: 3px;
            margin: 0;
            color: $white;
            font-size: 19px;
            font-style: normal;
            font-weight: 800;
        }

        &-label {
            display: inline-block;
            position: relative;
            bottom: 3px;
            margin: 0;
            color: $white;
            font-size: 19px;
            font-style: normal;
            font-weight: 800;
            padding: 0 0 0 5px;
        }
    }

    &__upload {
        display: none;

        @include atMedium {
            display: block;
            width: 100%;
            border: dashed 3px #aaa;
            margin: 0 auto;
            text-align: center;
            padding: 100px;
            border-radius: $big-br;

            i {
                font-size: 5rem;
                color: $grey;
            }
        }

        @include atLarge {
            display: block;
            width: 100%;
            border: dashed 3px #aaa;
            margin: 0 auto;
            text-align: center;
            padding: 115px;
            border-radius: $big-br;

            i {
                font-size: 10rem;
                color: $grey;
            }
        }
    }

    .body {
        @include clearfix;
        padding: 3.1% 2.1277%;
        @include responsive($small-break) {
            padding: $margin;
            padding-bottom: .8%;
        }
        label {
            font-weight: bold;
            color: $light-black;
            display: inline-block!important;
        }
        h3 {
            padding: 0;
            margin: 0;
        }
    }
}
