/* Default Style */

#wpadminbar .ab-top-secondary {
    float: right;
    top: -35px !important;
}

hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 2.1277%;
    width: 100%;
}

.page-details {
    color: $navy;

    h2{
        margin: 75px 0 25px;
        // text-shadow: 1px 1px 1px #000000;
    }
}

.button-size {
    max-width: 100%;
    padding: 9px 0 !important;
    display: inline-block;

    @include atMedium {
        max-width: 150px;
        padding: 9px 0 !important;
    }
}

.staff {
    margin: 10px 0;

    .staff-image{
        max-width: 350px;
        max-height: 350px;
        border-radius: 180px;
        overflow: hidden;
    }

    h2 {
        margin: 25px 0 5px;
        border-bottom: solid 2px #000;
        max-width: 250px;
    }

    p {
        padding: 10px;
        color: #fff;
        background-color: rgba(0, 0, 0, .5);
    }
}

/* Woocomerce */




