//**
// Other Useful Reusable Styles
//**
.demo {
    display: none!important;
}
        
.header {
    display: none;
}
        
.login-box {
    @extend .shadow-2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    padding: 1.5em;
    min-width: 250px;
    max-width: 325px;
    height: auto;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    -pie-background: rgba(255, 255, 255, 0.8);
    behavior: url(PIE.htc);
    @include responsive($small-break) {
        min-width: 100%;
        height: 100%;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        top: 50%;
    }
}
        
.cell {
    display: table-cell;
    vertical-align: middle;
}
        
.sub-header {
    min-height: 100px;
    padding: 25px 0 25px 0;
}
        
.home-image {
    // background: url(../img/home-bg2.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center bottom;
    // min-height: 600px;
    // background-color: $white;
    background: url(../img/bg-tile.png);
    background-repeat: repeat;
    min-height: 600px;
    background-color: $white;
}

// .home-image-main {
//     background-color: $white;
//     height: 100%;
//     overflow-x: hidden;
//     width: 100%;
//     background: url(../img/home-bg-blur.jpg);
//     background-position: center top;
//     display: cover;
//     position: fixed;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
        
.box {
    background-color: #f6f7f9;
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 24px 30px;
}
        
.box:before,
.box:after {
    content: "";
    display: table;
}
        
.box:after {
    clear: both;
}
        
.search {
    border: 0 !important;
    border-radius: 0 !important;
}
        
.main-filter {
    border: 1px solid #ccc;
    background-color: $white;
}
        
.section-header {
    float: right;
}
        
.section-content-wrapper {
    display: block;
    line-height: 25px;
}
        
.trending-header {
    float: right;
}
        
.trending-content-wrapper {
    display: block;
}
        
.block img {
    height: auto;
    width: 100%;
}
        
.mobile-pad {
    padding: 5%;
}
        
.product-container {
    border: 1px solid $grey;
    background-color: $white;
    @include responsive($small-break) {
        margin-top: 30px;
    }
}
        
.margin-left {
    margin: 0 0 0 3%;
    padding: 0;
    @include responsive($small-break) {
        margin: 0;
        padding: 0;
    }
}
        
.half-div {
    width: 48%;
    display: inline-block;
    font-size: 15px;
    padding: 12px;
    @include responsive($big-break) {
        width: 100%;
    }
}
        
.rotate {
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
        
.rotate.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
        
.open {
    z-index: 1px;
    over-flow: none;
    visibility: visable;
}
        
.hide {
    display: none;
}
        
.nice-select {
    border-radius: 3px;
    border: 1px solid #ccc;
}
        
.search-drop {
    border: none !important;
    border-radius: 0;
    background-color: #f5f5f5 !important;
}
        
.adjust {
    flex-basis: 79.2%;
    max-width: none;
}
        
.nav2 {
    padding: 15px 0 0 0;
    font-size: 13px;
    color: $primary-color;
    width: 100%;
    a {
        color: $primary-color;
        &:hover,
        &:focus {
            color: $hibbert-light-cyan;
        }
    }
}
        
.bread-crumb {
    float: left;
    // text-shadow: 1px 1px 1px #000000;

    a {
        color:$navy;
    }
}

.collapse-all {
    color:$navy;
    // text-shadow: 1px 1px 1px #000000;

    i {
        color:$navy;
    }
}
        
@include responsive($small-break) {
    .user {
        float: none !important;
        margin: 0 0 10px 0;
        .bread-crumb {
            float: none;
        }
    }
}
        
.user {
    float: right;
}
        
.total-price {
    background-color: $white;
    // border: 2px solid #7fbfdb;
    width: 100%;
    text-align: right;
    padding: 15px 15px 15px 0;
}
        
.banner-logo {
    width: 300px;
    // padding: 14px 0 0 15px;
    padding: 9px 0 0 15px;
    cursor: pointer;
    background-repeat: no-repeat;
}
        
.populated-field {
    height: 45px;
}
        
.img-center {
    margin: 0 auto;
}
