// Project Settings

// Consistent settings
$br: 3px; // Border-radius
$big-br: 10px;
$btn-br: 3px; // Button border-radius
$padding: 2em; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc. 
$max-width: 1200px; // Max width of the main centered "page content"
$push-footer-height: 60px;
$base-transition: all 0.2s 0 ease;
$easeInOut-transition: all 0.3s ease-in-out;
$base-box-shadow: #000 2px 2px 3px;

// header height 
$header-S: 70px; 
$header-M: 85px;
$header-L: 100px;
$header-XL: 125px;

// z-index 
$secondary-nav: 1;
$content-zindex: 2;
$header-zindex: 3;

// Responsive breakpoints
$tiny-break: 319px; //max width
$sixplus: 414px; //min-height
$small-break: 599px; //max width
$big-break: 768px; //max width  
$xbig-break: 1024px; //max width
$margin: 2.1277%; // Margin between the grid columns

// Default font stacks
$header-font-stack: "Lato",
"Open Sans",
"Helvetica Neue",
Helvetica,
Arial,
"Lucida Grande",
sans-serif;
$text-font-stack: "Open Sans",
"Helvetica Neue",
Helvetica,
Arial,
"Lucida Grande",
sans-serif;
$code-font-stack: Monaco,
Menlo,
Consolas,
"Courier New",
monospace;
$serif-font-stack: Georgia,
Times,
"Times New Roman",
serif;

// Better default colors
$aqua: #46acdc;
$blue: #5287e5;
$navy: #3c71d1;
$teal: #39cccc;
$green: #25A634;
$light-green: #73FF6F;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #efb530;
$orange: #e6a120;
$red: #f25532;
$light-red: #FF7A7A;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Gray Scale
$white: #fff;
$silver: #ccc;
$grey: #aaa;
$light-grey:#ccc;
$medium-grey: #555;
$light-black: #333;
$black: #111;

// Hibbert Colors 
$hibbert-light-cyan: #ABDBF8;
$hibbert-cyan: #0098DB;
$hibbert-blue: #0039A6;
$hibbert-light-blue: #46acdc;
$button-blue: #0098DB;

// Project color variables
$background: #cdcdcd;
$primary-color: #0098DB;
$secondary-color: #0039A6;
$tertiary-color: #aaa;
$label-email: #8fc043;
$label-dmail: #3ebd92;
$label-text-message: #8863cc;
$label-phone-call: #46acdc;
$label-corp-out: #5287e5;
$label-no-fulf: #f6bb42;
$label-third-party: #df6da9;
$danger-color: $red; // Bad color for errors, validation etc.
$success-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey; // Subtle color for subtle text
$highlight: rgba(127, 219, 255, 1.0);
$input: #FFFFE0;
